<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.tymofii.mb275monitor</string>

    <key>ProgramArguments</key>
    <array>
        <string>__PYTHON_BIN__</string>
        <string>__PROJECT_DIR__/monitor.py</string>
        <string>--once</string>
    </array>

    <key>WorkingDirectory</key>
    <string>__PROJECT_DIR__</string>

    <key>StartInterval</key>
    <integer>300</integer>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>__PROJECT_DIR__/launchd.out.log</string>

    <key>StandardErrorPath</key>
    <string>__PROJECT_DIR__/launchd.err.log</string>

    <key>ProcessType</key>
    <string>Background</string>
</dict>
</plist>
